.header {
  display: flex;

  background-color: #f0f0f0;
  padding: 10px;
  height: 5rem;
}

.header-content {
  margin-left: 18rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.custom-link {
  font-weight: bold;
  font-family: 'PT Serif', serif;
  font-size: 1.13rem;
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;

}

  .custom-link:hover {
    background-color: #ddd;
  }
  
  .header-image{

    width: 5.5rem;
    height: 3rem;
  }