

.services {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5rem;
  }
  
  .card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .service-image {
    display: flex; 
    align-items: center; 
    width: 20rem;
    height: 10rem;
    margin-right: 20px;
  }
  
  .card p {
    width: 42rem;
    display: block;
    font-size: 0.85rem;
    line-height: 1.5;
    margin: 0;
  }
  

  .link {
margin-left: 2rem;
    font-size: 0.8rem;
    display: inline-block;
    padding: 2px 2px;
    color: #f1f3f4;
    text-decoration: none;
    border: 1px solid #007bff;
    background-color: #007bff;
    width: 7rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .link:hover {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }