@media screen and (max-width: 768px) {
  .services {
    gap: 15px;
    margin-bottom: 3rem;
  }

  .carousel img {
    width: 150px;
    margin-right: 5px;
  }

  .service-image {
    width: 15rem;
    height: 8rem;
    margin-right: 10px;
  }

  .card p {
    width: 100%;
    font-size: 0.7rem;
  }

  .link {
    font-size: 0.7rem;
    width: 6rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .services {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .carousel {
    flex-direction: column;
    align-items: center;
  }

  .carousel img {
    width: 80%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .service-image {
    width: 90%;
    height: auto;
    margin-right: 0;
  }

  .card {
    padding: 15px;
  }

  .card p {
    width: 80%;
    font-size: 0.65rem;
  }

  .link {
    font-size: 0.6rem;
    width: 5rem;
    margin-bottom: 0.5rem;
  }
}
